#root{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 50px;

}

body{
    width: 100%;
    background-color: rgb(13, 213, 248);
}
/* .counter-container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
   
    width: 100%;
} */

 h1{
    color: white;
    font-size: 4rem;
    font-weight: 700;
}
.counter{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    button{
        padding: 10px;
        height: 110px;
        width: 110px;
        border-radius: 50%;
        font-size: 5rem;
        cursor: pointer;
        border: none;
    }
}

.reset{
    position:absolute;
    top: 50px;
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.884);
    padding: 5px 20px;
    border-radius: 10px;

}

.PlusMinusTen{
   
    min-width: 300px;
    display: flex;
    justify-content: center;
    gap: 20px;
    button{
        padding: 10px 20px;
        font-size:1.1rem ;
        font-weight: 600;
        color: white;
        background-color: black;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}